thead{
    font-size: var(--fs-main-text);
    font-family: Arial, Helvetica, sans-serif;
}
thead tr{
    background: var(--clr-buttom);
    color: white;
}
td{
    padding: 2rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.table-tr:nth-child(even) {
    background: #f2f2f2;
}
table{
    width: 100%;
    border-collapse: collapse;
}
input, textarea, select{
    padding: .5rem;
    border-radius: .5rem;
}

tr:nth-child(even){
    background: var(--clr-main);
}

/* tbody tr:hover{
    background: var(--clr-featured);
} */






/* .img{
    width: 6rem;
    height: 4rem;
} */


.card-background{
    margin: auto;
    background: var(--clr-main);
    width: 45rem;
    border-radius: 6rem;
    display: grid;
    justify-content: center;
    margin-top: 3rem;
}



.list-background{
    margin: auto;
    background: var(--clr-main);
    width: 79rem;
    border-radius: 6rem;
    margin-top: 3rem;
    overflow: hidden;
}
.admin-title{
    padding-top: 2rem;
    margin-top: 6rem;
}
.form{
    width: 34rem;
}
.form-elements{
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0,1fr);
}

.delete-elements {
    text-align: center;
    padding: 1rem 0;
    width: 40rem;
    display: grid;
    /* grid-template-columns: minmax(0, 1fr) minmax(0,1fr); */
    grid-template-columns: repeat(auto-fit, minmax(151px, 1fr));
}
.btn-container{
    margin: auto;
    padding: 2rem 0;
}
.delete-txt{   
    color: red;
    text-align: center;
}



/*pagina login*/






.logs{
    display: flex;
    width: 50%;
    margin: auto;
    gap: 5rem;
}

.form-label{
    position: absolute;
    margin-top: 0.7rem;
    font-size: 1rem;
    transition: .5s;
}
    .form-input:focus ~ .form-label,
    .form-input:valid ~ .form-label{
        font-size: .9rem;
        margin-top: -1rem;
        color: #03e9f4;

}



  
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-top: .8rem;
  }


  

  .togglePassword{
    margin-left: 10rem;
    /* position: relative; */
    position: absolute;
    margin-top: -1.3rem;
    width: 1rem;
  }

  .user-name{
    background-color: transparent;
    color:  #03e9f4;
    text-decoration: none;
    cursor: pointer;
    font-family: var(--fs-main-text);
  }

  .pr{
    display: flex;
    align-items: center;
    text-align: center;
  }

/* historial-table */

.historial-tr{
    background: white;
    color: black;

}

.historial-td{
    border: solid;
    width: 50%;
}

.historial-tr:nth-child(even) {
    background: white;
}

.historial-thead{
    font-weight: 600;
}

 

 


 



  




  











