.featured-section{
    padding: 4rem 0;
}
.main-section{
    background: var(--clr-main);
}
.featured-container{
    display: flex;
    margin: auto;
    width: 103rem;
    
}

.food-container {
    background-color: var(--clr-featured);
    border-radius: 6rem;
    color: var(--clr-white);
   display: grid;
    margin: auto;
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease;
    width: 24.5rem;
    
  }
   .food-container:hover { 
    color: var();
    transform: scale(1.05);
  } 
 
.caracteristics-container{
  
    background: var(--clr-main);
    border-radius: 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(258px, 1fr));
    margin: auto;
    max-width: 78vw;
}

.center{
    display: grid;
    justify-content: center;
    padding-bottom: 1rem;
    padding-left: 1.625rem;
    padding-right: 1.625rem;
    padding-top: 1rem;
    text-align: center;

}


.swiper-hero {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 80vw;
}
.search-box{
    align-items: center;
    background: white;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    height: 1rem;
    padding: 1rem 2rem;
    
    width: 19rem;
}
.search-elements{
    align-items: center;
    display: flex;
    gap: 2rem;
    margin-left: 3rem;
    margin-top: 2rem;
}

.search-space{
    background: transparent;
    border: none;
    outline: none;
    transition: 0.8s;
    width: 100%;
}


.tr-div{
    margin-top: 2rem;
}
.form-items {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}


.table-div{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;

}

@media (max-width: 767.98px) {
    .swiper-hero {
        display: flex;
        justify-content: center;
        margin: auto;
        margin-bottom: 4rem;
        margin-top: 4rem;
        width: 100%;
    }

    .search-box{
    
        width: 11rem;
    }

}

.swiper-hero .swiper-slide {
    /* Centra horizontalmente */
    align-items: center;
    display: flex;
    justify-content: center;
    /* Centra verticalmente */
    text-align: center;
    width: 350px;
}


.carrousel-arrows-container{
    display: flex;
    justify-content: space-between;
    margin-top: 12rem;
    position: absolute;
    width: 108%;
}
.navigation-lists{
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.our-porpuse-container{
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    margin: auto;
    margin-top: 5.75rem; 
    max-width: 78vw;
    text-align: center;
}


.btn-container{
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 5rem;
}

/*SLIDER*/
.swiper-hero {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 80vw;
}

@media (max-width: 767.98px) {
    .swiper-hero {
        display: flex;
        justify-content: center;
        margin: auto;
        margin-bottom: 4rem;
        margin-top: 4rem;
        width: 100%;
    }

}

.swiper-hero .swiper-slide {
    /* Centra horizontalmente */
    align-items: center;
    display: flex;
    justify-content: center;
    /* Centra verticalmente */
    text-align: center;
    width: 350px;
}

/*SLIDER*/



/*Pagina2*/

.buy-dish-container {
    align-items: center;
    display: grid;
    justify-content: center;
    margin: auto;
    margin-top: 7rem;
    text-align: center;
    width: 70vw;

}

.tags-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-bottom: 3rem;
    margin-top: 3rem;
    place-items: center
}

.tag {
    display: grid;

    place-items: center;
    text-align: center;
}

.realated-dishes-container {
    margin-top: 4rem;
}

 /*Pagina2*/

 /* Menu */
.category-section{
    text-align: center;
}

.category-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin:auto;
    width: 90vw;
}

.logoOpt2{
    margin-top: -3rem;
    width: 9rem;
    
}

    .login-container{
        align-content: center;
        background-color: #ffffff;
        border-radius: 20px;
        color: black;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: auto;
        margin-top: 6rem;
        padding: 30px;
        text-align: center;
        width: 450px;
    }

    .profle-login{
        width: 18.5rem;
    }

.title-conatiner{
    display: grid;
    margin: auto;
    text-align: center;
    width: 100%;
}

.form-input{
    align-items: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    display: grid;
    font-size: 1rem;
    justify-content: center;
    margin: auto;
    outline: none;
    padding: 0;
    padding: 0.5rem 0;
    width: 100%;
}

.form-container{
    align-content: center;
    display: grid;
    margin-top: 1rem;
   

}

.profile-settings-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
    margin: auto;
    margin-top: 5rem;
    width: 50vw;
 }

 .profile-settings{
    background: white;
    color: tomato;
    display: grid;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    transition: ease-in-out .1s;
 }

 .profile-settings:hover{
    background: var(--clr-main);
 }
 
 /*  cart record */
    .records-container{
        display: grid;
        margin-bottom: 20rem;
        margin-top: 5rem;
        text-align: center;

    }
    .record-container{
        background: white;
        border-radius: 2rem;
        color: black;
        display: grid;
        font-family: var(--ff-mon);
        font-size: var(--fs-md);
        gap: 2rem;
        margin: auto;
        margin-top: 3rem;
        padding: 1.5rem;
        text-align: center;
        width: 80%;

    }
    .record-datails{
        font-size: 1.5rem;
        font-weight: 600;
        text-wrap: nowrap;
}
       
    

    .record-main-datails{
        display: flex;
        gap: 4rem;
        margin: auto;
    }
 /*  cart record */